<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" content="no-cache">
		<title>LAVDEV - Проектирование и разработка интернет проектов любой сложности</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<!-- build:css -->
		<link rel="stylesheet" href="css/simple-grid.css">
		<link rel="stylesheet" href="css/style.css">
		<!-- endbuild -->

</head>
<body>
  {{{body}}}
  <script src="js/script.js"></script>
</body>
</html>