	<nav id="header">
		<div class="container menu">
			<a href="/" class="logo"><img src="img/logo.png" alt=""></a>
			<div class="email">
				{{!-- <a href="mailto:me@lavdev.ru" class="desktop-only">me@lavdev.ru</a> --}}<a href="#five" class="btn">Написать мне</a>
			</div>
		</div>
	</nav>

	<section class="full-scr" id="one">
		<div class="container">
		<div class="flexbox">
				 <div class="flex-left">
						<div class="col-9"><h1>Проектирование и разработка интернет проектов любой сложности</h1></div>
						<div class="col-6"><h3>Полный цикл разработки проектов</h3></div>
						<div class="links"><a href="#five" class="btn">Написать мне</a>{{!-- <a href="pres.pdf">Презентация</a> --}}</div>
					</div>
		</div>
		</div>
	</section>

	<section id="two">
		 <div class="container mainpadd lit-padd">
			<div class="row">
				<div class="col-3">
					<div class="col-4"><img src="img/simple.svg" alt=""></div>
					<div class="col-4"><span>Простые сайты</span></div>
				</div>
				<div class="col-3 ">
					<div class="col-4"><img src="img/sell.svg" alt=""></div>
					<div class="col-4"><span>Интернет магазины</span></div>
				</div>
				<div class="col-3">
					<div class="col-4"><img src="img/web.svg" alt=""></div>
					<div class="col-4"><span>Веб приложения</span></div>
				</div>
				<div class="col-3">
					<div class="col-4"><img src="img/star.svg" alt=""></div>
					<div class="col-4"><span>Телеграм боты</span></div>
				</div>
			</div>
		</div>
	</section>

	<section id="apps">
		<div class="container mainpadd">
			<div class="row">
				<div class="col-5">
					<h3>Приложения и телеграм боты</h3>
					<p>Профессиональная разработка веб приложений и телеграм ботов под любые нужды. Использование только современных инструментов разработки.</p>
					<div class="mobile-center">
					<a href="http://investhub.pro" class="link">Посмотреть пример</a><br>
					<a href="/#five" class="btn">Хочу приложение!</a>
					</div>
				</div>
				<div class="col-7">
					<img src="img/invh.png" class="img-responsive" alt="">
				</div>
			</div>
		</div>
	</section>

	<section id="mobile-apps">
		<div class="container mainpadd">
			<div class="row">
				<div class="col-3">
					<img src="img/mobile-app.png" class="img-responsive" alt="">
				</div>
				<div class="col-2"></div>
				<div class="col-7">
					<h3>Мобильная разработка</h3>
					<p>Разрабатываю приложения для платформ iOS и Android, работающие на мобильных устройствах и планшетах. Использование только современных инструментов разработки.</p>
					<div class="mobile-center">
					<a href="https://play.google.com/store/apps/details?id=com.kiryltkach.coinmarketcap" class="link">Посмотреть пример</a><br>
					<a href="/#five" class="btn">Хочу приложение!</a>
					</div>
				</div>
			</div>
		</div>
	</section>
		<section id="two">
		 <div class="container mainpadd lit-padd">
			<div class="row">
				<div class="col-3">
					<div class="col-4 count">80</div>
					<div class="col-4"><span>Выполненных сайтов</span></div>
				</div>
				<div class="col-3">
					<div class="col-4 count">12</div>
					<div class="col-4"><span>Интернет магазинов</span></div>
				</div>
				<div class="col-3">
					<div class="col-4 count">14</div>
					<div class="col-4"><span>Телеграм ботов</span></div>
				</div>
				<div class="col-3">
					<div class="col-4 count">6</div>
					<div class="col-4"><span>Мобильных приложений</span></div>
				</div>
			</div>
		</div>
	</section>

	<section id="three">
		<div class="container mainpadd">
			<h3 class="text-center">Проекты</h3>
			<div class="row">
				<div class="col-4">
					<div class="flexbox">
						<div class="flex-left">
							<a href="http://acvl.ru" class="btn" target="_blank">Подробнее</a><br><br>
							<a href="#five">Хочу такой же!</a>
						</div>
					</div>
					<img src="img/acvl.png" alt="">
				</div>
				<div class="col-4">
					<div class="flexbox">
						<div class="flex-left">
							<a href="http://kabinet.vl.ru" class="btn" target="_blank">Подробнее</a><br><br>
							<a href="#five">Хочу такой же!</a>
						</div>
					</div>
					<img src="img/kabinet.png" alt="">
				</div>
				<div class="col-4">
					<div class="flexbox">
						<div class="flex-left">
							<a href="http://dvisk.ru" class="btn" target="_blank">Подробнее</a><br><br>
							<a href="#five">Хочу такой же!</a>
						</div>
					</div>
					<img src="img/dvstr.png" alt="">
				</div>
				<div class="col-4">
					<div class="flexbox">
						<div class="flex-left">
							<a href="http://heeo.ru" class="btn" target="_blank">Подробнее</a><br><br>
							<a href="#five">Хочу такой же!</a>
						</div>
					</div>
					<img src="img/heeo.png" alt="">
				</div>
				<div class="col-4">
					<div class="flexbox">
						<div class="flex-left">
							<a href="http://primovk.ru" class="btn" target="_blank">Подробнее</a><br><br>
							<a href="#five">Хочу такой же!</a>
						</div>
					</div>
					<img src="img/ovk.png" alt="">
				</div>
				<div class="col-4">
					<div class="flexbox">
						<div class="flex-left">
							<a href="http://dst-media.ru" class="btn" target="_blank">Подробнее</a><br><br>
							<a href="#five">Хочу такой же!</a>
						</div>
					</div>
					<img src="img/dstm.png" alt="">
				</div>
			</div>
		</div>
	</section>

	<section id="four">
		<div class="container mainpadd">
			<h3 class="text-center">Клиенты</h3>
			<div class="row">
				<div class="col-2">
					<img src="img/clients-log/acvl-l.png" alt="">
				</div>
				<div class="col-2">
					<img src="img/clients-log/cabinet-l.png" alt="">
				</div>
				<div class="col-2">
					<img src="img/clients-log/heeo-l.png" alt="">
				</div>
				<div class="col-2">
					<img src="img/clients-log/amur-l.png" alt="">
				</div>
				<div class="col-2">
					<img src="img/clients-log/ovk-l.png" alt="">
				</div>
				<div class="col-2 desktop-only">
					<img src="img/clients-log/dst-l.png" alt="">
				</div>
				<div class="col-2 desktop-only">
					<img src="img/clients-log/fregat-l.png" alt="">
				</div>
				<div class="col-2">
					<img src="img/clients-log/mayak-l.png" alt="">
				</div>
				<div class="col-2 desktop-only">
					<img src="img/clients-log/axen-l.png" alt="">
				</div>
				<div class="col-2 desktop-only">
					<img src="img/clients-log/pek-l.png" alt="">
				</div>
				<div class="col-2">
					<img src="img/clients-log/vernal-l.png" alt="">
				</div>
				<div class="col-2 desktop-only">
					<img src="img/clients-log/dal-l.png" alt="">
				</div>
			</div>
		</div>
	</section>

	<section id="five">
		<div class="container mainpadd">
			<h3 class="text-center">Узнайте стоимость Вашего проета</h3>
			<div class="sendbox">
				<form id="formcontact" method="post" action="/" name="formcontact">
					<div id="note"></div>
					<div class="row" id="inputs">
						<div class="col-3">
							<input class="form-control" name="firstname" id="firstname" placeholder="ФИО" type="text">
						</div>
						<div class="col-3">
							<input class="form-control" name="telephone" id="teleph" placeholder="Телефон" type="text">
						</div>
						<div class="col-3">
							<input class="form-control" name="promo" placeholder="Промокод">
						</div>
						<div class="col-3">
							<button id="submbut" type="submit" class="btn">ОТПРАВИТЬ</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="copyright">LAVDEV</div>
			<div class="social"></div>
		</div>

	<a href="whatsapp://send?text=Привет!&amp;phone=+79242662377&amp;abid=+79242662377" class="mobile-only">
		<div class="whatsapp">
			<div class="container text">
				Написать в WhatsApp
			</div>
		</div>
	</a>		
	</footer>